# Proyecto Integrador 01 - Steam

<br>

## Se realiza proceso de ETL sobre dataset users_items

Importamos las librerías

In [1]:
import pandas as pd

<br>
<br>

Se extraen los datos del dataset provisto por el cliente

In [2]:
df_i = pd.read_csv(r'C:\Users\Cebol\OneDrive\Escritorio\Datasets\Datasets\australian_users_items.csv', encoding='utf-8')

df_i

,Unnamed: 0,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url,items
0,0,10.0,Counter-Strike,6.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,0,20.0,Team Fortress Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,0,30.0,Day of Defeat,7.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,0,40.0,Deathmatch Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,0,50.0,Half-Life: Opposing Force,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...,...,...,...,...,...
5170010,88308,373330.0,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
5170011,88308,388490.0,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
5170012,88308,521570.0,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
5170013,88308,519140.0,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
5170014,88309,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

<br>
<br>

Se observan los tipos de datos y cantidad de nulos

In [3]:
dicc = {"Campo": [], "Tipo_de_dato": [], "Nulos": []}

for columna in df_i.columns:
    dicc["Campo"].append(columna)
    dicc["Tipo_de_dato"].append(df_i[columna].apply(type).unique())
    dicc["Nulos"].append(df_i[columna].isnull().sum())

df_info = pd.DataFrame(dicc)
df_info

              Campo                      Tipo_de_dato  Nulos
0        Unnamed: 0                   [<class 'int'>]      0
1           item_id                 [<class 'float'>]  16806
2         item_name  [<class 'str'>, <class 'float'>]  16806
3  playtime_forever                 [<class 'float'>]  16806
4   playtime_2weeks                 [<class 'float'>]  16806
5           user_id                   [<class 'str'>]      0
6       items_count                   [<class 'int'>]      0
7          steam_id                   [<class 'int'>]      0
8          user_url                   [<class 'str'>]      0
9             items  [<class 'str'>, <class 'float'>]  16806

<br>
<br>

Se normalizan los valores de la columna 'item_name', llevándolos a todos los registros a minúscula

In [4]:
df_i['item_name'] = df_i['item_name'].str.lower()

<br>
<br>

Se verifican los duplicados en el Dataframe, filtrando por algunos subsets, dado que llamando a la función únicamente, no obtengo ningún resultado

In [5]:
filas_duplicadas = df_i[df_i.duplicated(subset=["user_id", "steam_id", "item_id", "playtime_forever"], keep=False)]
filas_duplicadas

,Unnamed: 0,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url,items
4346,17,4000.0,garry's mod,269.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"{'item_id': '4000', 'item_name': ""Garry's Mod""..."
4347,17,33910.0,arma 2,162.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"{'item_id': '33910', 'item_name': 'Arma 2', 'p..."
4348,17,33930.0,arma 2: operation arrowhead,223.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"{'item_id': '33930', 'item_name': 'Arma 2: Ope..."
4349,17,219540.0,arma 2: operation arrowhead beta (obsolete),0.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"{'item_id': '219540', 'item_name': 'Arma 2: Op..."
4350,17,400.0,portal,196.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...,"{'item_id': '400', 'item_name': 'Portal', 'pla..."
...,...,...,...,...,...,...,...,...,...,...
4910940,73424,261030.0,the walking dead: season two,253.0,0.0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"{'item_id': '261030', 'item_name': 'The Walkin..."
4910941,73424,273110.0,counter-strike nexon: zombies,0.0,0.0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"{'item_id': '273110', 'item_name': 'Counter-St..."
4910942,73424,730.0,counter-strike: global offensive,0.0,0.0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"{'item_id': '730', 'item_name': 'Counter-Strik..."
4985582,77044,NaN,NaN,NaN,NaN,farquadian,0,76561198086134170,http://steamcommunity.com/id/farquadian,NaN
4985583,77045,NaN,NaN,NaN,NaN,farquadian,0,76561198086134170,http://steamcommunity.com/id/farquadian,NaN

<br>
<br>

Se decide eliminar los registros duplicados

In [6]:
df_i = df_i.drop_duplicates(subset=["user_id", "steam_id", "item_id", "playtime_forever"], keep='first')
df_i.shape

(5110806, 10)

<br>
<br>

Se chequea la cantidad de valores nulos por columna

In [7]:
df_i.isna().sum()

Unnamed: 0              0
item_id             16714
item_name           16714
playtime_forever    16714
playtime_2weeks     16714
user_id                 0
items_count             0
steam_id                0
user_url                0
items               16714
dtype: int64

<br>
<br>

Se procede a la eliminación de los registros que no tienen datos nulos de los item_id, dado que no nos sirven, y seguramente se lleven consigo los nulos en las demas columnas.

In [8]:
df_i = df_i.dropna(subset=["item_id"])
df_i.isna().sum()

Unnamed: 0          0
item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
user_id             0
items_count         0
steam_id            0
user_url            0
items               0
dtype: int64

<br>
<br>

Se procede a la eliminación de las columnas que no se van a utilizar en la API, ni en nuestro modelo de recomendación. Se borra la columna 'Unnamed:0', la columna 'playtime_2weeks', dado que solo utilizaremos la columna que nos muestra el tiempo total jugado, la columna 'user_url', y la columna 'items' dado que es la columna que contiene el resto de columnas que fueron desanidadas. Por ultimo se decide eliminar el campo 'steam_id' dado que no le encuentro relación con ninguna tabla, y no va a ser utilizado el dato.

In [9]:
df_i = df_i.drop(['Unnamed: 0', 'playtime_2weeks', 'user_url', 'items', 'steam_id' ], axis=1)
df_i.columns

Index(['item_id', 'item_name', 'playtime_forever', 'user_id', 'items_count'], dtype='object')

<br>
<br>

El dataset quedaría conformado de la siguiente manera

In [10]:
df_i

,item_id,item_name,playtime_forever,user_id,items_count
0,10.0,counter-strike,6.0,76561197970982479,277
1,20.0,team fortress classic,0.0,76561197970982479,277
2,30.0,day of defeat,7.0,76561197970982479,277
3,40.0,deathmatch classic,0.0,76561197970982479,277
4,50.0,half-life: opposing force,0.0,76561197970982479,277
...,...,...,...,...,...
5170009,346330.0,brainbread 2,0.0,76561198329548331,7
5170010,373330.0,all is dust,0.0,76561198329548331,7
5170011,388490.0,one way to die: steam edition,3.0,76561198329548331,7
5170012,521570.0,you have 10 seconds 2,4.0,76561198329548331,7
5170013,519140.0,minds eyes,3.0,76561198329548331,7

In [11]:
dicc = {"Campo": [], "Tipo_de_dato": [], "Nulos": []}

for columna in df_i.columns:
    dicc["Campo"].append(columna)
    dicc["Tipo_de_dato"].append(df_i[columna].apply(type).unique())
    dicc["Nulos"].append(df_i[columna].isnull().sum())

df_info = pd.DataFrame(dicc)
df_info

              Campo       Tipo_de_dato  Nulos
0           item_id  [<class 'float'>]      0
1         item_name    [<class 'str'>]      0
2  playtime_forever  [<class 'float'>]      0
3           user_id    [<class 'str'>]      0
4       items_count    [<class 'int'>]      0

<br>

#### Se carga el Dataset limpio

In [12]:
df_i.to_csv(r'C:\Users\Cebol\OneDrive\Escritorio\Datasets\Datasets\australian_users_items_limpio.csv', index=False, encoding='utf-8')